# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.env

# Dependency directories (remove the comment below to include it)
# vendor/
+=
.idea/
.code/
_data/
_data_mongo/
__debug_bin
.dapr/
.DS_Store